In [1]:
import sys
import os
import geopandas as gpd
import pandas as pd

# Add the parent directory of 'src' to sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from src.calculate import calc_leistungskm
from src.import_gpx import import_gpx

from src.maps import generate_elevation_plot 
from src.MICHI import export_to_pdf

In [2]:
gpx = import_gpx("C:/Users/aebim/Documents/02_Ausbildung/Studium/04_Semester/4040_Geoprogrammieren_II/GrSchmeterling_Hackathon/data/MeileBH_Buech.gpx")

c:\Users\aebim\anaconda3\envs\4040_Hackaton\lib\site-packages\geopandas\io\file.py:383: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  as_dt = pd.to_datetime(df[k], errors="ignore")
c:\Users\aebim\anaconda3\envs\4040_Hackaton\lib\site-packages\geopandas\geoseries.py:645: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
c:\Users\aebim\anaconda3\envs\4040_Hackaton\lib\site-packages\geopandas\geoseries.py:645: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
c:\Users\aebim\anaconda3\envs\4040_Hackaton\lib\site-packages\geopandas\geoseries.py:645: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
c:\Users\aebim\anaconda3\envs\4040_Hackaton\lib\site-packages\geopandas\geoseries.py:645: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)
c:\Users\aebim\anaconda3\envs\4040_Hackaton\lib\site-packages\geopandas\geoseries.py:645: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  result = super().apply(func, convert_dtype=convert_dtype, args=args, **kwargs)

In [3]:
gpx.head()

,segment_id,von_pkt_name,von_pkt_geom,bis_pkt_name,bis_pkt_geom,segment_geom
0,1,Bahnhof,POINT Z (2691201.326 1236128.273 419.800),Burg,POINT Z (2691048.922 1237146.257 501.600),"LINESTRING Z (2691201.326 1236128.273 419.800,..."
1,2,Burg,POINT Z (2691048.922 1237146.257 501.600),Übereschüttle,POINT Z (2691361.068 1238027.360 609.800),"LINESTRING Z (2691048.922 1237146.257 501.600,..."
2,3,Übereschüttle,POINT Z (2691361.068 1238027.360 609.800),Ratsfelse,POINT Z (2691110.075 1238241.493 614.200),"LINESTRING Z (2691361.068 1238027.360 609.800,..."
3,4,Ratsfelse,POINT Z (2691110.075 1238241.493 614.200),Buech,POINT Z (2690088.967 1238277.303 584.600),"LINESTRING Z (2691110.075 1238241.493 614.200,..."

In [4]:
gdf_calc = calc_leistungskm(gpx)

In [5]:
print(gdf_calc)
print(type(gdf_calc))

(   segment_id   von_pkt_name                               von_pkt_geom  \
0           1        Bahnhof  POINT Z (2691201.326 1236128.273 419.800)
1           2           Burg  POINT Z (2691048.922 1237146.257 501.600)
2           3  Übereschüttle  POINT Z (2691361.068 1238027.360 609.800)
3           4      Ratsfelse  POINT Z (2691110.075 1238241.493 614.200)

    bis_pkt_name                               bis_pkt_geom  \
0           Burg  POINT Z (2691048.922 1237146.257 501.600)
1  Übereschüttle  POINT Z (2691361.068 1238027.360 609.800)
2      Ratsfelse  POINT Z (2691110.075 1238241.493 614.200)
3          Buech  POINT Z (2690088.967 1238277.303 584.600)

                                        segment_geom  cumulative_km  \
0  LINESTRING Z (2691201.326 1236128.273 419.800,...       1.610076
1  LINESTRING Z (2691048.922 1237146.257 501.600,...       1.140369
2  LINESTRING Z (2691361.068 1238027.360 609.800,...       0.652464
3  LINESTRING Z (2691110.075 1238241.493 614.200,...       1.320697

   elevation  Leistungskm [km]  Marschzeit [min]
0       81.8          3.266076              49.0
1      108.2          2.386369              36.0
2        4.4          1.496464              22.0
3      -29.6          2.222697              33.0  , 1.321, 2.223, 30.0, -60.0, 0, 33, 33.0)
<class 'tuple'>

In [6]:
df = gdf_calc[0]  # get the DataFrame from the tuple

gdf_show = pd.DataFrame({
    'Abschnitt': df['segment_id'],
    'Von': df['von_pkt_name'],
    'Nach': df['bis_pkt_name'],
    'Laenge [km]': df['cumulative_km'].round(2),
    'Hoehenmeter [m]': df['elevation'].round(1),
    'Leistungskm': df['Leistungskm [km]'].round(2),
    'Marschzeit [min]': df['Marschzeit [min]'].round(0),
    'Hinweis': ""  # Add an empty 'Hinweis' column
})


gdf_show.head()

,Abschnitt,Von,Nach,Laenge [km],Hoehenmeter [m],Leistungskm,Marschzeit [min],Hinweis
0,1,Bahnhof,Burg,1.61,81.8,3.27,49.0,
1,2,Burg,Übereschüttle,1.14,108.2,2.39,36.0,
2,3,Übereschüttle,Ratsfelse,0.65,4.4,1.50,22.0,
3,4,Ratsfelse,Buech,1.32,-29.6,2.22,33.0,