In [1]:
import sys
from pathlib import Path

# einen Pfad relativ zum Notebook bauen
root = Path().resolve().parent  # wenn test.ipynb in testing_rbo/, geht parent auf Dein Projekt-Root
src  = root / "src"
sys.path.insert(0, str(src))

# jetzt kennt Python import_gpx.py
from import_gpx import import_gpx

## Flumsi

In [2]:
path_flumsi = "../data/7-gipfel-tour-flumserberg.gpx"

In [3]:
gdf_flumsi = import_gpx(path_flumsi)

In [4]:
gdf_flumsi

,segment_id,von_pkt_name,von_pkt_geom,bis_pkt_name,bis_pkt_geom,segment_geom
0,1,Startpunkt,POINT Z (2737832.731 1214786.689 1974.2),Ziel,POINT Z (2739850.838 1217402.568 1379.8),"LINESTRING Z (2737832.731 1214786.689 1974.2, ..."

In [5]:
gdf_flumsi.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   segment_id    1 non-null      int16
 1   von_pkt_name  1 non-null      object
 2   von_pkt_geom  1 non-null      geometry
 3   bis_pkt_name  1 non-null      object
 4   bis_pkt_geom  1 non-null      geometry
 5   segment_geom  1 non-null      geometry
dtypes: geometry(3), int16(1), object(2)
memory usage: 174.0+ bytes

## Muttenz

In [6]:
path_muttenz = "../data/first_Testdata_Muttenz.gpx"

In [7]:
gdf_muttenz = import_gpx(path_muttenz)

In [8]:
gdf_muttenz

,segment_id,von_pkt_name,von_pkt_geom,bis_pkt_name,bis_pkt_geom,segment_geom
0,1,Startpunkt,POINT Z (2615292.286 1264887.924 279.7),Hintere Burg,POINT Z (2616488.117 1263427.786 431.5),"LINESTRING Z (2615292.286 1264887.924 279.7, 2..."
1,2,Hintere Burg,POINT Z (2616488.117 1263427.786 431.5),Mittlere Burg,POINT Z (2616298.894 1263194.66 476.4),"LINESTRING Z (2616488.117 1263427.786 431.5, 2..."
2,3,Mittlere Burg,POINT Z (2616298.894 1263194.66 476.4),Lecker Weinchen,POINT Z (2617072.551 1262557.063 411),"LINESTRING Z (2616298.894 1263194.66 476.4, 26..."
3,4,Lecker Weinchen,POINT Z (2617072.551 1262557.063 411),Schauenburg,POINT Z (2618037.624 1261126.735 568.2),"LINESTRING Z (2617072.551 1262557.063 411, 261..."
4,5,Schauenburg,POINT Z (2618037.624 1261126.735 568.2),Ende,POINT Z (2621085.137 1261293.638 310.5),"LINESTRING Z (2618037.624 1261126.735 568.2, 2..."

In [9]:
gdf_muttenz.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   segment_id    5 non-null      int16
 1   von_pkt_name  5 non-null      object
 2   von_pkt_geom  5 non-null      geometry
 3   bis_pkt_name  5 non-null      object
 4   bis_pkt_geom  5 non-null      geometry
 5   segment_geom  5 non-null      geometry
dtypes: geometry(3), int16(1), object(2)
memory usage: 342.0+ bytes

## Meilen

In [10]:
path_meilen = "../data/MeileBH_Buech.gpx"

In [11]:
gdf_meilen = import_gpx(path_meilen)

In [12]:
gdf_meilen

,segment_id,von_pkt_name,von_pkt_geom,bis_pkt_name,bis_pkt_geom,segment_geom
0,1,Bahnhof,POINT Z (2691201.326 1236128.273 419.8),Burg,POINT Z (2691048.922 1237146.257 501.6),"LINESTRING Z (2691201.326 1236128.273 419.8, 2..."
1,2,Burg,POINT Z (2691048.922 1237146.257 501.6),Übereschüttle,POINT Z (2691361.068 1238027.36 609.8),"LINESTRING Z (2691048.922 1237146.257 501.6, 2..."
2,3,Übereschüttle,POINT Z (2691361.068 1238027.36 609.8),Ratsfelse,POINT Z (2691110.075 1238241.493 614.2),"LINESTRING Z (2691361.068 1238027.36 609.8, 26..."
3,4,Ratsfelse,POINT Z (2691110.075 1238241.493 614.2),Buech,POINT Z (2690088.967 1238277.303 584.6),"LINESTRING Z (2691110.075 1238241.493 614.2, 2..."

In [13]:
gdf_meilen.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   segment_id    4 non-null      int16
 1   von_pkt_name  4 non-null      object
 2   von_pkt_geom  4 non-null      geometry
 3   bis_pkt_name  4 non-null      object
 4   bis_pkt_geom  4 non-null      geometry
 5   segment_geom  4 non-null      geometry
dtypes: geometry(3), int16(1), object(2)
memory usage: 300.0+ bytes

## Arosa

In [14]:
path_arosa = "../data/second_Testdata_Arosa.gpx"

In [15]:
gdf_arosa = import_gpx(path_arosa)

In [16]:
gdf_arosa

,segment_id,von_pkt_name,von_pkt_geom,bis_pkt_name,bis_pkt_geom,segment_geom
0,1,Start - Arosa Isel,POINT Z (2771363.006 1182944.671 1619.8),Talboden,POINT Z (2771631.169 1182149.947 1642.7),"LINESTRING Z (2771363.006 1182944.671 1619.8, ..."
1,2,Talboden,POINT Z (2771631.169 1182149.947 1642.7),Wasserfall,POINT Z (2771672.973 1181859.38 1660.2),"LINESTRING Z (2771631.169 1182149.947 1642.7, ..."
2,3,Wasserfall,POINT Z (2771672.973 1181859.38 1660.2),Sattel Alteiner,POINT Z (2772048.846 1181239.261 1952.8),"LINESTRING Z (2771672.973 1181859.38 1660.2, 2..."
3,4,Sattel Alteiner,POINT Z (2772048.846 1181239.261 1952.8),Altein,POINT Z (2772884.396 1180425.213 2271.4),"LINESTRING Z (2772048.846 1181239.261 1952.8, ..."
4,5,Altein,POINT Z (2772884.396 1180425.213 2271.4),Schiesshornbode,POINT Z (2773192.438 1181617.741 2428.5),"LINESTRING Z (2772884.396 1180425.213 2271.4, ..."
5,6,Schiesshornbode,POINT Z (2773192.438 1181617.741 2428.5),Obersäss Sattel,POINT Z (2773796.352 1182123.088 2315.5),"LINESTRING Z (2773192.438 1181617.741 2428.5, ..."
6,7,Obersäss Sattel,POINT Z (2773796.352 1182123.088 2315.5),Talboden,POINT Z (2772192.138 1182893.917 1664),"LINESTRING Z (2773796.352 1182123.088 2315.5, ..."
7,8,Talboden,POINT Z (2772192.138 1182893.917 1664),Ende Arosa Isel,POINT Z (2771346.867 1182941.387 1619.9),"LINESTRING Z (2772192.138 1182893.917 1664, 27..."

In [17]:
gdf_arosa.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   segment_id    8 non-null      int16
 1   von_pkt_name  8 non-null      object
 2   von_pkt_geom  8 non-null      geometry
 3   bis_pkt_name  8 non-null      object
 4   bis_pkt_geom  8 non-null      geometry
 5   segment_geom  8 non-null      geometry
dtypes: geometry(3), int16(1), object(2)
memory usage: 468.0+ bytes

## Vergelich der DataFrames / Struckturelle tests

In [20]:
import geopandas as gpd
import pandas as pd
from IPython.display import display  # Jupyter-Notebook Anzeigehilfe

# Deine GeoDataFrames
gdfs = {
    'Arosa': gdf_arosa,
    'Muttenz': gdf_muttenz,
    'Flumsi': gdf_flumsi,
    'Meilen': gdf_meilen
}

# Übersichtsdaten sammeln
summary = []
for name, gdf in gdfs.items():
    summary.append({
        'GeoDataFrame': name,
        'Columns': ', '.join(gdf.columns),
        'DTypes': ', '.join(f"{col}:{dtype}" for col, dtype in zip(gdf.columns, gdf.dtypes)),
        'CRS': str(gdf.crs),
        'Geom-Types': ', '.join(gdf.geometry.geom_type.unique())
    })

# In ein DataFrame für Übersicht überführen
df_summary = pd.DataFrame(summary)

# Im Notebook anzeigen
display(df_summary)

# Funktion zum strukturellen Vergleich
def compare_structures(gdfs_dict):
    ref_name, ref = next(iter(gdfs_dict.items()))
    all_equal = True

    for name, gdf in gdfs_dict.items():
        if not ref.columns.equals(gdf.columns):
            print(f"❌ Spalten von {name} weichen ab.")
            all_equal = False
        if not all(str(a) == str(b) for a, b in zip(ref.dtypes, gdf.dtypes)):
            print(f"❌ DType-Definitionen in {name} weichen ab.")
            all_equal = False
        if ref.crs != gdf.crs:
            print(f"❌ CRS von {name} weicht ab (Referenz: {ref.crs}, {name}: {gdf.crs}).")
            all_equal = False
        if set(ref.geometry.geom_type.unique()) != set(gdf.geometry.geom_type.unique()):
            print(f"❌ Geometrietypen in {name} weichen ab.")
            all_equal = False

    if all_equal:
        print("✅ Alle GeoDataFrames sind strukturell gleich.")

# Und jetzt:
compare_structures(gdfs)

,GeoDataFrame,Columns,DTypes,CRS,Geom-Types
0,Arosa,"segment_id, von_pkt_name, von_pkt_geom, bis_pk...","segment_id:int16, von_pkt_name:object, von_pkt...",EPSG:2056,LineString
1,Muttenz,"segment_id, von_pkt_name, von_pkt_geom, bis_pk...","segment_id:int16, von_pkt_name:object, von_pkt...",EPSG:2056,LineString
2,Flumsi,"segment_id, von_pkt_name, von_pkt_geom, bis_pk...","segment_id:int16, von_pkt_name:object, von_pkt...",EPSG:2056,LineString
3,Meilen,"segment_id, von_pkt_name, von_pkt_geom, bis_pk...","segment_id:int16, von_pkt_name:object, von_pkt...",EPSG:2056,LineString

✅ Alle GeoDataFrames sind strukturell gleich.